name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    environment: release

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install UI dependencies
        run: npm install
        working-directory: src/Monitoring/EverTask.Monitor.Api/UI

      - name: Build UI
        run: npm run build
        working-directory: src/Monitoring/EverTask.Monitor.Api/UI

      - name: Setup .NET 6
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.0.x'

      - name: Setup .NET 7
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '7.0.x'

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '8.0.x'

      - name: Setup .NET 9
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '9.0.x'

      - name: Restore dependencies
        run: dotnet restore EverTask.sln

      - name: Build
        run: dotnet build EverTask.sln --no-restore

      - name: Test
        run: dotnet test test/EverTask.Tests/EverTask.Tests.csproj --no-restore --verbosity normal --filter "FullyQualifiedName!~EverTask.Tests.Storage.SqlServer.SqlServerEfCoreTaskStorageTests&FullyQualifiedName!~EverTask.Tests.IntegrationTests.AuditLevelIntegrationTests"

